:root {
  --lite-blue: #5AA5B8;
  --blue: #4F73A8;
  --pink: #D18282;
  --yellow: #FFEBC2;
  --navy: #605282;
}

body {
  background-color: var(--lite-blue);
  color: #fff;
  font-family: -apple-system, BlinkMacSystemFont,
    "Hiragino Kaku Gothic ProN", Meiryo, sans-serif;
  font-size: 16px;
  margin: auto;
  max-width: 1280px;
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin-left: -15px;
  margin-right: -15px;
  margin: auto;
  justify-content: center;
}

.col {
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
  display: block;
}

#colright {
  font-size: 20px;
  font-weight: 400;
  line-height: 33px;
}

#profile {
  text-align: center;
  padding: 30px 10px;
  position: relative;
}

#profiletexts {
  /* text-align: center; */
  padding: 30px 10px;
  position: relative;
}

.portrait {
  width: 200px;
  height: 200px;
  margin: 0 auto;
  border-radius: 50%;
  object-fit: cover;
  max-width: 100%;
  display: block;
  border-style: none;
}

h1.name {
  font-size: 2.3rem;
  font-weight: bold;
  text-align: center;
  position: relative;
}

.section {
  text-align: center;
  font-size: 2.0rem;
  text-transform: uppercase;
  letter-spacing: 0.25rem;
}

a {
  color: var(--yellow);
  text-decoration: none;
  background-color: transparent;
}

ul {
  padding: 0;
  list-style: none;
  display: block;
}

.boxlist {
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 40px;
}

.boxlist li {
  background-color: var(--navy);
  display: inline-block;
  margin: 5px;
  padding: 5px 10px;
  border-radius: .4em;
}

.insidelist {
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

.insidelist li {
  background-color: var(--navy);
  display: inline-block;
  margin: 5px;
  padding: 5px 10px;
  border-radius: .4em;
}

.researchlist {
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 40px;
}

.researchlist li {
  background-color: var(--blue);
  display: inline-block;
  margin: 5px;
  padding: 5px 10px;
  border-radius: .4em;
}

table {
  margin: auto;
  background: var(--blue);
  border-radius: .4em;
  overflow: hidden;
}

tr {
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
}

th,
td {
  text-align: left;
  display: table-cell;
  margin: .5em 1em;
  padding: .75em;
}

th {
  color: var(--pink);
}

.l-wrapper {
  margin: 1rem auto;
  max-width: 450px;
}

/* .l-wrapper:hover {
  transform: translateY(-5px);
  box-shadow: 0 7px 34px rgba(50, 50, 93, .1), 0 3px 6px rgba(0, 0, 0, .08);
  transition: all .5s;
} */

.card {
  background: var(--blue);
  border-radius: 5px;
  /* box-shadow: 0 2px 5px #ccc; */
}

.card-img {
  border-radius: 5px 5px 0 0;
  width: 450px;
  height: auto;
}

.card-content {
  padding: 8px 20px 20px;
}

.card-title {
  font-size: 1.6em;
  font-weight: 700;
}

.card-subtitle {
  font-size: 1.2em;
  font-weight: 700;
}

.card-text {
  font-size: 14px;
  line-height: 1.5;
  margin-bottom: 0.2em;
}

.card-link {
  font-size: 14px;
  text-align: center;
  border-top: 1px solid #eee;
  padding: 20px;
}

.card-link a {
  text-decoration: none;
  margin: 0 10px
}

.contactul {
  font-size: 1.3rem;
  font-weight: 700;
  /* margin-left: 80px; */
  text-align: center;
}